
body {
  width: 100%;
  margin: 0;
}

.container-lg{margin-left:  0px;}

main {
	background: #e5fafa;
}

.container{max-width: 100%;}


.lead{font-weight: bold;}



.bg-head {
	margin-left: 30px;
	background: #deedff  repeat-x;
	float: left;
	clear: left;
}



.bg-lightblue{
	background: #99e0ff;
}

.border-dashed{
	border: 1pt;
	border-style: dashed;
}

.border-radius{
	border: 1pt;
  border-radius: 10px;
}

.box-shadow{
	box-shadow: 2px 2px 4px gray; 
}


#map-frame {
  display: block;
  margin-left: auto;
  margin-right: auto;
}



.col-md-5{
  background: #deedff;
  max-width: 520px;
  height: auto;
  padding: 10px;
}


.card-container {
  display: flex;
  gap: 20px;       
  margin: 20px;
  flex-wrap: wrap;
}

.card {
  margin-top: 20px;
  margin-left: 70px;
  width: 300px;
  background: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 2px 2px 4px gray;
}

.card-img{width: 200px;
           
    }

.img-fluid {
    max-width: 500px;
    height: auto;
}



