
body{
  width: 100%;
  margin: 0;
}


.container-lg{margin-left:  0px;}





main {
	background: #e5fafa;
	
}

.p-3{margin-left: 200px;}



.display-4{font-weight: bold;
           }


.bg-head {
	margin-left: 30px;
	background: #deedff  repeat-x;
	float: left;
	clear: left;
}



.bg-lightblue{
	background: #99e0ff;
}

.border-dashed{
	border: 1pt;
	border-style: dashed;
}

.border-radius{
	border: 1pt;
  border-radius: 10px;
}

.box-shadow{
	box-shadow: 2px 2px 4px gray; 
}


#map_here{
	float: left;
	clear: left;
	width: 340px;
	height: 240px;
}

.col-md-5{
	background: #deedff  repeat-x;
	margin-left: auto;
	max-width:500px;
	height: auto;
	clear: right;
        width: 500px;
	padding: 10px;
	margin-right: 350px;
}



.card {
  margin: 0 auto;
  margin-top: 20px;
  width: 450px;
  background: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 2px 2px 4px gray;
  text-align: center;   
}


.card ul {
  padding: 0;
  margin: 10px 0 0 0;
  list-style: none;     
}


.card-img {
  display: block;
  margin: 0 auto;       
  width: 300px;
}



.card-container {
  display: flex;
  gap: 20px;       
  margin: 20px;
  flex-wrap: wrap;
}


    


.card-all{
  width: 100%;
  max-width: 100%;
  margin: 20px auto;
  padding: 10px;
  background: rgb(217, 218, 219);
}



